<!DOCTYPE html> 
<html>
<head>
<script>
  function init() {
    anno.makeAnnotatable(document.getElementById('myImage'));
  }
</script>
...
<body onload="init();">
<img src="640px-Hallstatt.jpg" class="annotatable" id="myImage"/>
</body>


<meta charset = "utf-8">
<!-- <title>
	Some Website
</title> -->
</head>

<!-- <script>
  function init() {
    anno.makeAnnotatable(document.getElementById('myImage'));
  }
</script>
...        
<body onload="init();">
<img src="example.jpg" id="myImage" />
</body> -->

</html>





<!-- <!DOCTYPE html> 
<html>
<head>

<link type="text/css" rel="stylesheet" href="css/annotorious.css" />
<script type="text/javascript" src="annotorious.min.js"></script>

<meta charset = "utf-8"> -->
<!-- <title>
	Some Website
</title>
</head>

<body>
	{{> header}}
	
	<p>{{ welcomeMessage}}</p>

	{{> footer}}
</body>
</html> -->